@model FilminurkTARpe24_Markus.Models.Emails.EmailViewModel
<div>
	<form method="post" enctype="multipart/form-data">
		
		<div>
			<label asp-for="SendToThisAddress" class="col-sm-2 col-form-label"></label>

		</div>
	
	</form>
</div>